* {
  font-family: "alte-haas", Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "sidebar header" "sidebar main";
  min-height: 100vh;

  text-align: center;
}

.main {
  grid-area: main;
  background-color: purple;
}

.header {
  grid-area: header;
  background-color: aqua;
}

.sidebar {
  grid-area: sidebar;
}

/* ================== SIDEBAR ==================*/

.sidebar img {
  filter: invert();
}

.logo-section img {
  width: 25%;
  display: inline;
}

.logo-section .logo-name {
  font-size: 3rem;
  font-weight: bolder;
}

.logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-section * {
  flex-shrink: 1;
}

.sidebar {
  padding: 1rem;
  background: linear-gradient(rgb(48, 138, 255), rgb(37, 44, 249));
  color: white;
}

.sidebar li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.sidebar-item .button-icon {
  display: inline;
  width: 12%;
}

.sidebar-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.sidebar .btns ul {
  padding: 0 1.5rem;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 1rem;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* ================== HEADER ==================*/

.header img {
  width: 3%;
  display: inline;
}

/* ================== MAIN ==================*/

.main img {
  width: 2%;
  display: inline;
}
